{{>panel/top}}
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        {{>panel/panelMessage}}
        <section class="body">
        </section>
    </section>
</article>