<article class="top" id="top">
    <h1>{{strings.legionLatinoamericana}}</h1>
</article>
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facere numquam voluptatum deleniti. Debitis temporibus similique atque ut, quos molestiae nulla nesciunt quas tenetur magnam, praesentium odit dicta quidem repudiandae!</h1>
    </section>
</article>