<section class="top">
    <link rel="stylesheet" href="/css/partials/panel/top.css">
    <article class="top-panel-bar" id="top-panel-bar">
        <section id="menu-bar-switch" onclick="menuBarSwitch()">
            <section class="menu-bar menu-bar-1"></section>
            <section class="menu-bar menu-bar-2"></section>
            <section class="menu-bar menu-bar-3"></section>
            <section class="menu-bar menu-bar-4"></section>
        </section>
        <h1>{{strings.legionLatinoamericana}}</h1>
    </article>
    <script src="/js/partials/panel/top.js"></script>
</section>