{{>panel/top}}
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        <section class="navBar">
            <p onclick="window.location.href = '/panel'">{{strings.courses.navBar.panel}}</p>
            <span>/</span>
            <p onclick="window.location.href = '/panel/courses/administratration'">{{strings.courses.navBar.administration}}</p>
        </section>
        {{>panel/panelMessage}}
        <section class="body">
            
        </section>
</article>