<article class="top" id="top">
    <h1>{{strings.legionLatinoamericana}}</h1>
</article>
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        
    </section>
</article>