{{>panel/top}}
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis magni accusamus facilis magnam explicabo beatae rerum fugiat animi officia doloribus enim ea numquam exercitationem consequatur est aliquid, obcaecati cupiditate dolores?</p>
    </section>
</article>